@mixin imgLeftToRight() {
  animation: 5s linear infinite;
  animation-name: imgLeftToRight;

  /* ***** MOBILE ***** */
  //   @media (max-width: 700px) {
  //     animation-name: mobileAnimation;
  //   }
}
@keyframes imgLeftToRight {
  0% {
    right: 0vw;
  }
  50% {
    right: 40vw;
  }
  100% {
    right: 0vw;
  }
}
