@import "./animations.scss";

@mixin zoomInImage() {
  transform: scale(1.15) rotate(1deg);
  background-position: 65%;
  animation: $speedPageMovementX2 $typeMovement;
  animation-name: zoomInImage;
  animation-fill-mode: backwards;
}
@keyframes zoomInImage {
  0% {
    transform: scale(1) rotate(0deg);
    background-position: 45%;
  }
  100% {
    transform: scale(1.15) rotate(1deg);
    background-position: 65%;
  }
}
@mixin zoomOutImage() {
  transform: scale(1);
  animation: $speedPageMovementX2 $typeMovement;
  animation-name: zoomOutImage;
}
@keyframes zoomOutImage {
  0% {
    transform: scale(1.15) rotate(1deg);
    background-position: 65%;
  }
  100% {
    transform: scale(1) rotate(0deg);
    background-position: 45%;
  }
}
