// .image1 {
//   background-image: url('../certificates/typescript.jpg');
//   filter: grayscale(80%) brightness(90%);
//   background-position: 25% 75%;
// }

.gridRight {
  background-image: url('./coding.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
