// ANIMATIONS:
@import '../../styles/texts.scss';
// VARIABLES:
@import '../../styles/variables.scss';

.rootAbsolute {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  height: $heightGlobal;
  width: $widthGlobal;
  // background-image: linear-gradient(120deg, #a5c1d4, #275b7e);
  // background-image: linear-gradient(120deg, #ffffff, #969696);
  // filter: brightness(0.6) grayscale(30%);
  // background-image: linear-gradient(220deg, #bd4e42, #b45346);
}
.contentContainer {
  position: relative;
}
.maxImage {
  position: absolute;
  height: 95vh;
  min-height: 600px;
  bottom: 0;
  right: 0;
  transition: 0.4s ease-in-out;
  @media (max-width: 1000px) {
    right: -100px;
  }
  @media (max-width: 600px) {
    height: 85vh;
  }
  @media (max-height: 500px) {
    bottom: -140px;
  }
  @media (max-width: 1000px) {
    // opacity: 0.6;
    right: -100px;
    bottom: -140px;
  }
}
.containerTexts {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  @media (max-width: 1000px) {
    padding: 40px;
  }
}
.downTextContainer {
  position: absolute;
  bottom: 200px;
  @media (max-width: 800px) {
    // bottom: 40px;
  }
  @media (max-height: 800px) {
    // bottom: 60px;
  }
  @media (max-width: 350px) {
    display: none;
  }
}
.name {
  font-family: 'Helvetica Now Display DW', sans-serif;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  -webkit-text-size-adjust: 100%;
  color: #0f141e;
  font-size: 3.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  @media (max-width: 800px) {
    font-size: 2.2rem;
  }
}
.title {
  font-family: 'Helvetica Now Display DW', sans-serif;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  font-size: 4rem;
  line-height: 3rem;
  padding-top: 5px;
  font-weight: 800;
  letter-spacing: -0.01em;
  color: #0f141e;
  transition: 0.4s ease-in-out;
  @media (max-width: 800px) {
    font-size: 2.5rem;
    line-height: 2.4rem;
  }
}
.descriptions {
  max-width: 1000px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  font-size: 1.6rem;
  line-height: 2rem;
  padding-bottom: 20px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -0.01em;
  color: #2e2e2e;
  @media (max-width: 1500px) {
    max-width: 800px;
  }
  @media (max-width: 1000px) {
    max-width: 90%;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  @media (max-height: 550px) {
    display: none;
  }
}
.sentences {
  font-family: 'Helvetica Now Display DW', sans-serif;
  font-style: normal;
  max-width: 95%;
  -webkit-text-size-adjust: 100%;
  font-size: 1.2rem;
  // line-height: 1rem;
  padding-top: 10px;
  font-weight: 100;
  letter-spacing: -0.01em;
  color: #363636;
  @media (max-width: 1000px) {
    font-size: 1rem;
    font-weight: 600;
  }
}
.squareToMenuBars {
  position: absolute;
  right: 13px;
  top: 17px;
  height: 50px;
  width: 52px;
  background: rgb(204, 204, 204);
  border-radius: 5px;
  /* ***** MOBILE TOGETHER WITH MENU BARS ***** */
  @media (max-width: 700px) {
    height: 45px;
    width: 50px;
    top: 10px;
    right: 14px;
  }
}
