// ********** IMAGES ARE HERE **********
@import '../../assets/images/homePage/introPage2.scss';
// ANIMATIONS:
@import '../../styles/animations.scss';
@import '../../styles/texts.scss';
@import '../../styles/zoomImages.scss';
// VARIABLES:
@import '../../styles/variables.scss';

.grid {
  position: absolute;
  pointer-events: none;
  overflow: hidden;
  z-index: 2;
  height: $heightGlobal;
  width: $widthGlobal;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    'leftFull rightUp'
    'leftFull rightDown';
}
.gridLeft {
  position: relative;
  overflow: hidden;
  text-align: center;
  grid-area: leftFull;
  // IMAGE AT @import "../../assets/images/homePage/introPage2.scss";
  // background-image: url("../../assets/images/homePage/woodBack.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(120deg, #378a76, #1a5e4e);
}
.cubeContainer {
  margin-top: 200px;
  transform: scale(0.6);
}
.sentences {
  @include sentencesFont();
  color: #124e40;
}
.pngImages {
  max-width: 350px;
  animation: 4s infinite ease-in-out;
  animation-name: moveImage;
}
// ***** MOBILE:
@media (max-width: 900px) {
  .imgsContainer {
    left: 45%;
  }
  .pngImages {
    max-width: 120%;
  }
}
@keyframes moveImage {
  0% {
    transform: rotate(-2deg) translateY(-8%);
  }
  50% {
    transform: rotate(3deg) translateY(0%);
  }
  100% {
    transform: rotate(-2deg) translateY(-8%);
  }
}
.gridRightUp {
  overflow: hidden;
  grid-area: rightUp;
  position: relative;
  // background-image: linear-gradient(120deg, #459b87, #22725f);
  // background-image: linear-gradient(220deg, #a34238, #803c33);
  background-image: linear-gradient(120deg, #2f5a77, #1b425e);
}
.gridRightUp h1 {
  @include textH1Messages();
}

.descriptions {
  @include textH1Messages();
}

.gridRightDown {
  grid-area: rightDown;
  position: relative;
  background-color: rgb(0, 0, 0);
  text-align: center;
  overflow: hidden;
}
.backImage {
  height: 100%;
  // IMAGE AT @import "../../assets/images/homePage/introPage2.scss";
  // background-image: url("../../assets/images/homePage/dreamsReality.jpg");
  background-color: rgb(18, 18, 18);
  background-position: 45%;
  background-repeat: no-repeat;
  background-size: cover;
}
// ANIMATIONS:
// COMPONENT LOADING:
.stayOutside .gridLeft {
  @include stayOutsideLeft();
}
.stayOutside .gridRightUp {
  @include stayOutsideRight();
}
.stayOutside .gridRightDown {
  @include stayOutsideRight();
}
// ENTER AND OUT:
.zoomInImage {
  @include zoomInImagePage2();
}
.zoomOutImage {
  @include zoomOutImagePage2();
}
.enterSecondPage .gridLeft {
  @include leftGoesInFromLeft();
}
.enterSecondPage .gridRightDown {
  @include rightGoesInFromRight();
}
.enterSecondPage .gridRightUp {
  @include rightGoesInFromRight();
}
.enterSecondPage .gridRightUp h1 {
  @include textComeUpRightToLeft();
}
// .enterSecondPage .descriptions {
//   @include textComeUpLeftToRight();
// }
.backToFirst .gridLeft {
  @include leftGoesOutLeft();
  animation-fill-mode: backwards;
}
.backToFirst .gridRightUp {
  @include rightGoesOutRight();
}
.backToFirst .gridRightDown {
  @include rightGoesOutRight();
}
.exitToThirdPage .gridLeft {
  @include leftGoesOutLeft();
}
.exitToThirdPage .gridRightUp {
  @include leftGoesOutLeft();
}
.reverseToSecond .gridLeft {
  @include leftGoesInFromLeft();
}
.reverseToSecond .gridRightUp {
  @include leftGoesInFromLeft();
}
.reverseToSecond h1 {
  @include textComeUpLeftToRight();
}
// .reverseToSecond .descriptions {
//   @include textComeUpRightToLeft();
// }
.exitToPage4 .gridRightDown {
  @include leftGoesOutLeft();
}
.comeBackFromPage4 .gridRightDown {
  @include leftGoesInFromLeft();
}

// SKILLS CLASSES:
.skillsContainer {
  overflow: hidden;
  padding: 40px;
  margin-top: 120px;
  @media (max-width: 700px) {
    margin-top: 80px;
    padding: 20px;
  }
  @media (max-height: 720px) {
    // GALAXY S9:
    margin-top: 40px;
    padding: 20px;
    -webkit-transform: scale(1, 0.8);
    -moz-transform: scale(1, 0.8);
    -ms-transform: scale(1, 0.8);
    transform: scale(1, 0.8);
  }
  // @media (max-height: 600px) {
  //   margin-top: 0px;

  //   -webkit-transform: scale(1, 0.6);
  //   -moz-transform: scale(1, 0.6);
  //   -ms-transform: scale(1, 0.6);
  //   transform: scale(1, 0.6);
  // }
  @media (max-height: 330px) {
    display: none;
  }
}
.skillNameFont {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 5px;
  overflow: hidden;
  @media (max-width: 720px) {
    font-size: 6vw;
  }
  @media (max-width: 600px) {
    font-size: 7vw;
  }
}
.skillLevel {
  width: 100%;
  height: 8px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  @media (max-width: 1000px) {
    height: 0.8vw;
  }
  @media (max-width: 800px) {
    height: 1.2vw;
  }
  @media (max-height: 500px) {
    display: none;
  }
}
.skillNameFont {
  animation: fadeInNames 2s ease-in-out;
}
@keyframes fadeInNames {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// JAVASCRIPT
.skillNameFont0 {
  color: #f7df1e;
}
.skill0 {
  background-color: #f7df1e;
}
// TYPESCRIPT
.skillNameFont1 {
  color: #3178c6;
}
.skill1 {
  background-color: #3178c6;
}
// REACT
.skillNameFont2 {
  color: #61dafb;
}
.skill2 {
  background-color: #61dafb;
}
// ANGULAR
.skillNameFont3 {
  color: #dd0031;
}
.skill3 {
  background-color: #dd0031;
}
// HTML
.skillNameFont4 {
  color: #e44d26;
}
.skill4 {
  background-color: #e44d26;
}
// CSS
.skillNameFont5 {
  color: #214ce5;
}
.skill5 {
  background-color: #214ce5;
}
// NODE.JS
.skillNameFont6 {
  color: #43853d;
}
.skill6 {
  background-color: #43853d;
}

@for $i from 0 through 2 {
  .skill#{$i} {
    animation: loadingLinesGrade10 2.5s ease-in-out;
    animation-delay: #{$i * 0.05}s;
    animation-fill-mode: backwards;
  }
}
@for $i from 4 through 5 {
  .skill#{$i} {
    animation: loadingLinesGrade10 2s ease-in-out;
    animation-delay: #{$i * 0.05}s;
    animation-fill-mode: backwards;
  }
}
// REACT[0] / JAVASCRIPT[1] / TYPESCRIPT[2] / HTML[4] / CSSS[5]
@keyframes loadingLinesGrade10 {
  0% {
    width: 0%;
    opacity: 0;
  }
  10% {
    width: 0%;
    opacity: 0;
  }
  80% {
    opacity: 1;
    width: 70%;
  }
  100% {
    width: 100%;
  }
}
// ANGULAR[3] / NODE.JS[6]
.skill3,
.skill6 {
  animation: loadingLinesGrade8 2.5s ease-in-out;
  animation-delay: 3 * 0.05s;
  animation-fill-mode: backwards;
  width: 80%;
}

@keyframes loadingLinesGrade8 {
  0% {
    width: 0%;
    opacity: 0;
  }
  10% {
    width: 0%;
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    width: 80%;
  }
}
